body {
  font-family:"chaparral-pro", Helvetica, serif;
  font-size: 1.8em;
  color: #4d4d4d;
  background: white;
  }

.content {
  margin-left: 50px;
  margin-top: 50px;
  max-width: 800px;
}

h1, h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family:"mr-eaves-xl-sans";
  font-size: 1.8em;

}

h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: .6em
}

ul  {
  display: block;
  list-style: none;
  padding-bottom: 20px;
  padding-left: 0;
}


li {
  padding-top: 20px;
}
